<section class="home-slider carousel ftco-degree-bg">
  <div class="slider-item bread-wrap">
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-10 col-sm-12 mb-4 text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>contact</span></p>
          <h1 class="mb-3 bread">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section-2 ftco-degree-bg">
  <div class="container d-flex">
    <div class="section-2-blocks-wrapper row d-flex">
      <div class="img col-sm-12 col-lg-6 order-last" style="background-image: url('/assets/images/about.jpg');">
      </div>
      <div class="text col-lg-6 order-first">
        <div class="text-inner align-self-start">
          <h3 class="heading">Let co-operation with us!</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
            ocean.</p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2 ftco-gray-bg">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="ftco-footer-widget mb-4 ftco-opacity-bg p-30">
          <h2 class="ftco-heading-2 text-center">Contact To Us</h2>
          <form action="" class="submit-form text-white" #formSubmit="ngForm">
            <div class="form-group  mb-4">
              <input type="text" class="form-control pl-2 pr-2" id="fullname" placeholder="Fullname"
                [(ngModel)]="fullname" required #fullnameText="ngModel" name="fullname">
              <p class="form-validation m-0 pl-2"
                *ngIf="fullnameText?.invalid && (fullnameText?.dirty || fullnameText?.touched)">Fullname
                is required!</p>
            </div>
            <div class="form-group mb-4">
              <input type="text" class="form-control pl-2 pr-2" id="email" placeholder="Email" [(ngModel)]="email"
                required #emailText="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <p class="form-validation m-0 pl-2"
                *ngIf="emailText?.errors && emailText?.errors?.required && (emailText?.dirty || emailText?.touched)">
                Email
                is required</p>
              <p class="form-validation m-0 pl-2" *ngIf="emailText?.errors && emailText?.errors?.pattern">Email is
                invalid</p>
            </div>
            <div class="form-group mb-4">
              <input type="number" class="form-control pl-2 pr-2" id="number" placeholder="Phone" [(ngModel)]="number"
                #phoneNumber="ngModel" name="phone">
            </div>
            <div class="form-group mb-4">
              <textarea class="form-control pl-2 pr-2" id="exampleFormControlTextarea1" placeholder="Message" rows="3"
                [(ngModel)]="message" #messageText="ngModel" name="message" appForbiddenName="fuck"></textarea>
              <p class="form-validation m-0 pl-2" *ngIf="messageText?.errors?.forbiddenName">Text is invalid</p>
            </div>
            <button type="submit" class="btn btn-primary title w-100 p-2">Submit!</button>
          </form>
        </div>
      </div>

      <div class="col-md-6 my-auto d-none d-sm-block">
        <p class="text-center m-0">
          <img [src]="logo" alt="">
        </p>
        <p class="text-center ftco-sologan">Let co-operation with us!</p>
      </div>
    </div>
  </div>
</section>