<section class="home-slider carousel ftco-degree-bg">
  <div class="slider-item bread-wrap">
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div
          class="col-md-10 col-sm-12 mb-4 text-center"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-offset="0"
        >
          <p class="breadcrumbs">
            <span class="mr-2"><a [routerLink]="['/']">Home</a></span>
            <span>Portfolio</span>
          </p>
          <h1 class="mb-3 bread">Portfolio</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-degree-bg" #portfolioHeader>
  <div class="container" *ngIf="portfolios">
    <div class="row ">
      <div class="col-md-4" *ngFor="let portfolio of portfolios">
        <app-portfolio-item [portfolio]="portfolio"></app-portfolio-item>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-8">
        <app-portfolio-item classSize="big" [portfolio]="portfolios[0]"></app-portfolio-item>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <app-portfolio-item [portfolio]="portfolios[0]"></app-portfolio-item>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-portfolio-item [portfolio]="portfolios[0]"></app-portfolio-item>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
