@import "src/assets/scss/bootstrap/mixins";

nav:not(.scrolled) {
  .nav-item {
    border: 1px solid transparent;
    margin-right: 10px;

    &.active,
    &:hover {
      border: 1px solid white;
      border-radius: 5px;

      a {
        color: rgba(255, 255, 255, 1) !important;
      }
    }

    a {
      padding-top: 1px !important;
      padding-bottom: 1px !important;
    }

    .dropdown-item {
      &:hover {
        background: #e0e0e0 !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .logo {
    width: 180px !important;
  }

  .logo,
  .text-logo {
    svg {
      height: 40px !important;
    }
  }
}

.navbar-toggler {
  background: none;
  border: none;
  margin-top: 20px;
}

.navbar-collapse {
  transition: height 2s linear 1s;
  height: 0px;
}

.navbar-collapse:not(.collapse) {
  height: auto;
  transition: height 2s linear 1s;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.2s;
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #ffffff;
}

.scrolled.navbar-dark .navbar-toggler .icon-bar {
  background: linear-gradient(45deg, #29bae4 0%, #ee76ad 100%) !important;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}

.navbar-brand {
  height: 40px;
}

.load-x {
  transform: scale(0);
  animation-delay: 0.5s;
}

.loading-wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}

.loading {
  opacity: 0;
}

.loading-e {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;

  .logo svg {
    height: 40px !important;
  }

  .text-logo svg {
    height: 40px;
  }
}

.loading-main {
  opacity: 1;
  transform: scale(2);

  .main-logo {
    transform: scale(0.5);
    transition: transform .4s;
  }

  .main-logo.scale-logo {
    transform: scale(1) !important;
    transition: transform .4s;
  }
}

.logo svg {
  path {
    fill: #fff;
    stroke: #fff;
  }

  height: 60px;
}


.text-logo svg {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 60px;
  margin-top: 5px;

  path {
    fill: #fff;
    stroke: #fff;
    stroke-dasharray: 3000;
    animation: animate 2s cubic-bezier(0, 0.23, 1, .1);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 3000;
  }

  10% {
    opacity: 0.4;
    fill: none;
    stroke-dashoffset: 3000;
  }

  80% {
    opacity: 1;
    fill: none;
    stroke-dashoffset: 1000;
  }

  90% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 1;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}

.hide {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

.show {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1;
}

// .scrolled {

//   .logo,
//   .text-logo {

//     path,
//     circle {
//       fill: #78d5ef ;
//       stroke: #78d5ef;
//     }
//   }
// }

.normal-loading {
  transform: scale(1);
  //   margin-top: 10px;
  margin-left: -1.5em;
}

.menu-animate {
  svg {
    width: 60px;
    height: 60px;
    margin-top: -12px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
  }

  path {
    fill: none;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: white;
    stroke-dashoffset: 0px;
  }

  path#top,
  path#bottom {
    stroke-dasharray: 240px 950px;
  }

  path#middle {
    stroke-dasharray: 240px 240px;
  }

  .cross path#top,
  .cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
  }

  .cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
  }
}

.mobile-navbar-bg {
  //   background: url(/assets/images/Desktop.png) no-repeat;
  //   background-size: cover;
  //   background-position: center;
}

.mobile-navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  transform: translateX(101%);
  width: calc(100% - 60px);
  height: 100vh;
  z-index: 1000;
  background: url(/assets/images/footer.svg) no-repeat;
  background-size: cover;
  background-position: center;

  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.show {
    transform: translateX(0px);
    -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    .logo {
      display: block;
    }
  }

  .logo {
    display: none;
  }
}

.navbar-animate {
  &.collapsed-animate {
    transform: translateX(calc(-100% + 70px));
  }

  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-navbar-bg .normal-loading {
  margin-left: 0px !important;


}

.mobile-navbar-bg {

  .nav-link {
    color: white;
  }

  .nav-item span {
    padding: 6px;
  }

  .nav-item.active span {
    border: 1px solid white;
    border-radius: 5px;
  }
}
