<h4 class="c-grey-900 mT-10 mB-30">Contacts <small>manage</small></h4>

<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <table class="table table-striped table-bordered" datatable [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>Create date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.fullname}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.message}}</td>
        <td>{{contact.createdAt.seconds * 1000 | date :'short'}}</td>
        <td>
          <ul class="list-inline">
            <!-- <li class="list-inline-item">
              <button (click)="onEdit(tag)" title="Edit" class="btn btn-primary btn-sm btn-admin"><span
                  class="ti-pencil"></span></button>
            </li> -->
            <li class="list-inline-item">
              <button class="btn btn-danger btn-sm btn-admin" title="Delete" (click)="onDelete(contact)">
                <i class="ti-trash"></i>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>