<h4 class="c-grey-900 mT-10 mB-30">Portfolio <small>Edit</small></h4>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <form [formGroup]="portfolioForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter title" formControlName="title" />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label></label>
        <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15 col-md-4" style="padding-top:13px">
          <input type="checkbox" id="published" name="published" class="peer"
            formControlName="published"><label for="published" class="peers peer-greed js-sb ai-c"><span
              class="peer peer-greed">Published</span></label></div>
      </div>
      <div class="form-group col-md-6">
        <label></label>
        <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15 col-md-4" style="padding-top:13px">
          <input type="checkbox" id="is_home" name="is_home" class="peer"
            formControlName="is_home"><label for="is_home" class="peers peer-greed js-sb ai-c"><span
              class="peer peer-greed">Is Home</span></label></div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Link</label>
      <input type="text" class="form-control" placeholder="Enter link" formControlName="link" />
    </div>
    <div class="form-group">
      <label>Development platforms</label>
      <ng-select [items]="platformsData" [addTag]="addTag" [hideSelected]="true" multiple="true"
        placeholder="Enter development platforms" bindLabel="name" formControlName="platforms">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Desctription</label>
      <textarea class="form-control" rows="6" placeholder="Enter description" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label>Images</label>
      <div class="list-image">
        <input type="file" name="image" accept='image/*' hidden (change)="preview($event)" #file multiple>
        <img class="upload-action" src="/assets/images/upload.png" (click)="file.click()" alt="upload icon" />
        <div class="img-content" *ngFor="let image of images; let i = index">
          <img [src]="image" alt="image" />
          <button class="btn-light btn-hover" (click)="deletePhoto(image, i)">
            <i class="fa fa-times"></i>
          </button>
          <a class="default-image" href="javascript:void(0)" *ngIf="i>0" (click)="onClickDefault(image,i)">Default</a>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-admin " (click)="save()">Save</button>
  </form>
</div>