<h4 class="c-grey-900 mT-10 mB-30">Portfolio <small>Edit</small></h4>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <form [formGroup]="portfolioForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter title" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Link</label>
      <input type="text" class="form-control" 
        placeholder="Enter link" formControlName="link" />
    </div>
    <div class="form-group">
      <label>Development platforms</label>
      <ng-select [items]="platformsData" [addTag]="addTag" [hideSelected]="true" multiple="true"
        placeholder="Enter development platforms" bindLabel="name" formControlName="platforms">
      </ng-select>
    </div>
    <div class="form-group">
      <label>Desctription</label>
      <textarea class="form-control" rows="6" placeholder="Enter description" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label>Images</label>
      <div class="list-image">
        <input type="file" name="image" accept='image/*' hidden (change)="preview($event)" #file multiple>
        <img class="upload-action" src="/assets/images/upload.png" (click)="file.click()" />
        <div class="img-content" *ngFor="let image of images; let i = index">
          <img [src]="image" />
          <button class="btn-primary btn-hover" (click)="deletePhoto(image, i)">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-admin" (click)="save()">Save</button>
  </form>
</div>
