<h4 class="c-grey-900 mT-10 mB-30">Portfolio <small>Edit</small></h4>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter title"
      />
    </div>
    <div class="form-group">
      <label>Development platforms</label>
      <ng-select
        [items]="platforms"
        [addTag]="addTag"
        [hideSelected]="true"
        multiple="true"
        placeholder="Enter development platforms"
        bindLabel="name"
      >
      </ng-select>
    </div>
    <div class="form-group">
      <label>Desctription</label>
      <textarea
        class="form-control"
        rows="6"
        placeholder="Enter description"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-admin">Save</button>
  </form>
</div>
