<navbar></navbar>
<app-spinner></app-spinner>
<div class="top-background" [style.transform]="'translateY(' + (-posY) + 'px)'"></div>
<div [style.visibility]="!loading ? 'visible' : 'hidden'" class="client-content opacity-animate"
  [style.opacity]="!loading ? 1 : 0">
  <router-outlet></router-outlet>
  <foot></foot>
</div>

<div class=" back_top" id="back_top" title="Back To Top" style="display: block;" [hidden]="!showScrollTop" (click)="scrollTop()">
  <svg xmlns:xlink="http://www.w3.org/1999/xlink" height="0.764in" width="0.56in" xmlns="http://www.w3.org/2000/svg"
    style="
        transform: rotate(-90deg);
    ">
    <g filter="url(#Filter_0)">
      <path class="hover-effect"
        d="M27.000,52.000 C40.807,52.000 52.000,40.807 52.000,27.000 C52.000,13.193 40.807,2.000 27.000,2.000 C13.193,2.000 2.000,13.193 2.000,27.000 C2.000,40.807 13.193,52.000 27.000,52.000 Z"
        fill="none" fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-width="2px"></path>
    </g>
    <defs>
        <filter filterUnits="userSpaceOnUse" id="Filter_0" x="0px" y="0px" width="81px" height="81px">
          <feOffset in="SourceAlpha" dx="0" dy="16" />
          <feGaussianBlur result="blurOut" stdDeviation="4.583" />
          <feFlood flood-color="rgb(0, 0, 0)" result="floodOut" />
          <feComposite operator="atop" in="floodOut" in2="blurOut" />
          <feComponentTransfer>
            <feFuncA type="linear" slope="0.15" />
          </feComponentTransfer>
          <feMerge>
            <feMergeNode />
            <feMergeNode in="SourceGraphic" />
          </feMerge>
        </filter>
        <linearGradient id="PSgrad_0" x1="100%" x2="0%" y1="0%" y2="0%">
          <stop offset="0%" stop-color="rgb(32,210,220)" stop-opacity="1" />
          <stop offset="100%" stop-color="rgb(112,175,249)" stop-opacity="1" />
        </linearGradient>

      </defs>
    <path
      d="M36.385,28.314 L36.385,28.314 L27.899,36.799 L26.485,35.385 L33.870,28.000 L16.000,28.000 L16.000,26.000 L34.071,26.000 L26.485,18.414 L27.899,17.000 L37.799,26.899 L36.385,28.314 Z"
      fill="rgb(255, 255, 255)" fill-rule="evenodd"></path>
  </svg>
</div>
