<h4 class="c-grey-900 mT-10 mB-30">Teams <small>manage</small></h4>
<div class="mB-20">
  <a routerLink="/admin/teams/new" class="btn btn-info btn-admin">
    Add
  </a>
</div>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <table class="table table-striped table-bordered" datatable [dtTrigger]="dtTrigger" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portfolio of portfolios">
        <td>{{portfolio.title}}</td>
        <td>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a routerLink="/admin/teams/{{portfolio.id}}" title="Edit"
                class="btn btn-primary btn-sm btn-admin"><span class="ti-pencil"></span></a>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-danger btn-sm btn-admin" title="Delete" (click)="delete(portfolio)">
                <i class="ti-trash"></i>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
