<h4 class="c-grey-900 mT-10 mB-30">Blogs <small>manage</small></h4>
<div class="mB-20">
	<a routerLink="/admin/blogs/new" class="btn btn-info btn-admin" href="javascript:void(0);">
		Add
	</a>
</div>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
	<table class="table table-striped table-bordered" datatable>
		<thead>
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Foo</td>
				<td>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a routerLink="/admin/blogs/1" 
								title="Edit"
								class="btn btn-primary btn-sm btn-admin"
								><span class="ti-pencil"></span
							></a>
						</li>
						<li class="list-inline-item">
							<button
								class="btn btn-danger btn-sm btn-admin"
								title="Delete" (click)="onDelete()"
							>
								<i class="ti-trash"></i>
							</button>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
