.portfolio-item {
	margin:15px 0px;
	background-color: rgb(255, 255, 255);
	background: url("https://nextjs.org/static/images/showcase-thumbnails/marvel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 220px;
	position: relative;
	display: block;
	border-radius: 7px;
	cursor: pointer;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px,
		rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
	text-align: center;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px;
	&.big{
		height: 470px;
	}
	.shadow {
		align-items: center;
		height: 100%;
		color: white;
		text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px;
		opacity: 0;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
		transition: opacity 0.2s ease 0s;
		border-radius: 7px;
		position: relative;
		.info {
			position: absolute;
			bottom: 0px;
			width: 100%;
			text-align: center;
			opacity: 0;
			padding: 1.5rem;
			background: rgba(0, 0, 0, 0.8);
			transition: opacity 0.6s ease 0s;
			border-bottom-right-radius: 7px;
			border-bottom-left-radius: 7px;
			.title {
				font-size: 20px;
				font-weight: bold;
			}
			a {
				color: #0074de;
				font-weight: bold;
			}
		}
	}
	&:hover .shadow,
	&:hover .shadow .info {
		opacity: 1;
	}
}
