<!-- 
	<div class="blog-entry">
		<a
			[routerLink]="['/blog', blog.slug]"
			class="block-20"
			[style.backgroundImage]="'url('+ blog.imgURL +')'" aria-label="Blog"
		> 
		</a>
		<div class="text p-4 d-block ">
			<div class="meta mb-3">
				<div><span class="badge badge-primary">{{blog.category[0].name}} </span></div>
				<div>
					<span>
					{{ blog.createdAt.seconds*1000  | date :'mediumDate' }}
				</span>
				</div>
				<div>
				</div>
			</div>
			<h3 class="heading">
				<a [routerLink]="['/blog', blog.slug]">{{ blog.title }}</a>
			</h3>
		</div>
    </div> -->
<div class="card card-blog card-plain blog-horizontal">
  <div class="row" [style.direction]="direction">
    <div class="col-lg-4">
      <div class="card-image">
        <a [routerLink]="['/blog', blog.slug]">
          <img class="img rounded" [src]="blog.imgURL" [class.blog-route]="isBlogRoute">
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h3 class="card-title">
          <a style="color: #e14eca" [routerLink]="['/blog', blog.slug]">{{ blog.title }}</a>
        </h3>
        <div><span class="badge badge-primary">{{blog.category[0].name}} </span></div>
        <p class="card-description">
          {{ blog.description }}
          <br />
          <a style="color: #e14eca" [routerLink]="['/blog', blog.slug]"> Read More </a>
        </p>
        <div class="author">
          <div class="meta">{{ blog.createdAt.seconds*1000  | date :'mediumDate' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
