
	<div class="blog-entry">
		<a
			[routerLink]="['/blog', blog.slug]"
			class="block-20"
			[style.backgroundImage]="'url(' + blog.imgURL + ')'"
		>
		</a>
		<div class="text p-4 d-block ">
			<div class="meta mb-3">
				<div><span class="badge badge-primary">Javascript</span></div>
				<div>
					<a>
					{{ createdDate | datene }}
				</a>
				</div>
				<div>
					<a class="meta-chat"
						>
						<!-- <span class="icon-chat"></span> -->
						<!-- {{ blog.comments.length }} -->
						</a
					>
				</div>
			</div>
			<h3 class="heading">
				<a [routerLink]="['/blog', blog.slug]">{{ blog.title }}</a>
			</h3>
		</div>
	</div>
<!-- </div> -->
