<section class="hero-area-fix" #rippleAnimation>
  <div class="hero-area" id="water">
    <div class="container">
      <div class="row">
        <div class="hero-text">
          <h1>Drimo</h1>
          <div id="typed-strings">
            <h3>Drimo App Landing Page Template</h3>
            <h3>Drimo Android Template</h3>
            <h3>Drimo Apple iso</h3>
          </div>
          <h3><span id="typed"></span></h3>
          <h4>A Complete Landing Page and Multipurpose Package</h4>
          <a href="#" class="btn view-demo" data-scroll-nav="1">View Demos</a>
          <a href="#" class="btn buy-now">Buy Drimo</a>
        </div>
      </div>
    </div>
  </div>
</section>
