<section class="home-slider carousel ftco-degree-bg">
  <div class="slider-item bread-wrap">
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-10 col-sm-12 mb-4 text-center" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
          <h1 class="mb-3 bread">Read our blog</h1>
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <div class="row search-blog-input">
                <div class="col-10 col-md-11 mr-0 pr-0">
                  <input type="text" placeholder="Search..." class="form-control w-100" [(ngModel)]="searchBlog">
                </div>
                <div class="col-2 col-md-1 ml-0 pl-0">
                  <button class="btn" (click)="clearSearch()">
                    <svg class="js-transition-icon" width="22px" height="22px" viewBox="0 0 32 32">
                      <g class="js-transition-icon__state" [style.display]="searchBlog.length > 0 ? 'none' : ''">
                        <title>Search</title>
                        <line fill="none" stroke="white" x1="30" y1="30" x2="21.5" y2="21.5" />
                        <circle fill="none" stroke="white" cx="13" cy="13" r="12" />
                      </g>

                      <g class="js-transition-icon__state" [style.display]="searchBlog.length > 0 ? '' : 'none'"
                        aria-hidden="true">
                        <title>Close search</title>
                        <line fill="none" stroke="white" x1="27" y1="5" x2="5" y2="27" />
                        <line fill="none" stroke="white" x1="27" y1="27" x2="5" y2="5" />
                      </g>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg" style="margin-top: -17rem;" #blogHeader>
  <div class="container">
    <div class="row">
      <div class="col-md-4 " data-aos="fade-up" data-aos-delay="200" data-aos-offset="0"
        *ngFor="let blog of blogs | paginate: config  | filter:searchBlog">
        <div class="blog-entry">
          <a [routerLink]="['/blog', blog.id]" class="block-20" [style.background]="'url(' + blog.photoURL + ')'">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a>{{blog.createdDate | datene}}</a></div>
              <div><a>{{blog.postedBy}}</a></div>
              <div><a class="meta-chat"><span class="icon-chat"></span> {{blog.comments.length}}</a></div>
            </div>
            <h3 class="heading"><a [routerLink]="['/blog', blog.id]">{{blog.title}}</a></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <pagination class="mx-auto" [config]="config" (onPageChange)="pageChange($event)"></pagination>
    </div>
  </div>
</section>
