#oopss {
  background-image: url(/assets/images/not-found.png);
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
}
.content-404 {
  margin-bottom: 320px;
  .title {
    font-size: 41px;
  }
}
