<section class="home-slider carousel ftco-degree-bg">
  <div
    class="slider-item bread-wrap"
    style="background-image: url('assets/images/bg_1.jpg');"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div
          class="col-md-10 col-sm-12 mb-4 text-center"
        >
          <p class="breadcrumbs">
            <span class="mr-2"><a routerLink="/">Home</a></span>
            <span class="mr-2"> <a routerLink="/portfolio">Portfolio</a></span>
            <span>{{ portfolio?.title }}</span>
          </p>
          <h1 class="mb-3">{{ portfolio?.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg portfolio-detail" style="margin-top: -7rem;" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          <img [src]="portfolio?.images[0]" alt="" class="img-cover" />
        </p>
        <h2 class="mb-3 title">{{ portfolio?.title }}</h2>
        <h5>
          Development platforms:
          <a href="javascript:void(0)" class="badge badge-light" *ngFor="let platform of portfolio?.platforms">{{
            platform?.name 
          }}</a>
        </h5>
        <h5 *ngIf="portfolio?.link">
          Link:
          <a href="{{ portfolio?.link }}" target="_blank" >{{
            portfolio?.link
          }}</a>
        </h5>

        <h5>Description</h5>
        <p>{{ portfolio?.description }}</p>
        <h5>Snapshots</h5>
        <ngx-gallery
          [options]="galleryOptions"
          [images]="galleryImages"
        ></ngx-gallery>
      </div>
    </div>
  </div>
</section> 
