.img-cover{
	width: 100%;
	height: 550px;
	border: 1px solid #dcdbdb;
    border-radius: 5px;
}
.platforms{
	margin-left: 10px;
}
.title{
	color: #43b0dc !important;
}
@media screen and (max-width: 576px) {
	.img-cover{
		height: 220px;
	}
}