<!-- <a
	class="portfolio-item {{ classSize }}"
	data-aos="fade-up"
	data-aos-delay="200"
	data-aos-offset="0"
	[style.backgroundImage]="'url(' + imageURL + ')'"
	[routerLink]="['/portfolio', portfolio.slug]"
>
	<div class="shadow">
		<div class="info">
			<div class="title">{{ portfolio.title }}</div>
			<a [href]="portfolio.link" target="_blank" *ngIf="portfolio.link" rel="noopener"> {{ portfolio.link }}</a>
		</div>
	</div>
</a> -->

<div style="width: 100%; display: inline-block;">
  <div class="card card-blog card-plain">
    <div class="card-image">
      <a tabindex="0" [routerLink]="['/portfolio', portfolio.slug]">
        <img class="img" [src]="imageURL">
      </a>
    </div>
    <div class="card-body">
      <div><span class="badge badge-primary">Javascript</span></div>

      <h4 class="card-title">
        <h3 [routerLink]="['/portfolio', portfolio.slug]" class="porfolio-title c-pointer" tabindex="0">{{portfolio.title}}</h3>
      </h4>
      <p class="card-description content-text-line-clamp">
        {{portfolio.description}}
      </p>
      <div class="card-footer px-0" style="    border-top: 1px solid #e14fb5;">
        <div class="author">
          <span>{{portfolio.createdAt.seconds * 1000 | date :'medium'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
