.portfolio-item {
  margin: 15px 0px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 220px;
  position: relative;
  display: block;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px,
    rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px;

  &.big {
    height: 470px;
  }

  .shadow {
    align-items: center;
    height: 100%;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 20px;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    transition: opacity 0.2s ease 0s;
    border-radius: 7px;
    position: relative;

    .info {
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      opacity: 0;
      padding: 1.5rem;
      background: rgba(0, 0, 0, 0.8);
      transition: opacity 0.6s ease 0s;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px;

      .title {
        font-size: 20px;
        font-weight: bold;
      }

      a {
        color: #0074de;
        font-weight: bold;
        word-break: break-word;
      }
    }
  }

  &:hover .shadow,
  &:hover .shadow .info {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .portfolio-item {
    .shadow {
      opacity: 1;

      .info {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .card.card-blog {
    min-height: 450px;
  }
}

.card.card-plain {
  background: transparent;
  box-shadow: none;
}

.card-blog .card-image img {
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.card-blog {
  border: 1px solid #e14eca;
}

.presentation-page .category {
  text-transform: uppercase;
}

.card .card-body .card-title {
  color: #fff;
  text-transform: inherit;
  font-weight: 300;
  margin-bottom: .75rem;
  margin-top: 15px;
  line-height: 1.25em;

  h3 {
    color: #e14eca;
    font-weight: 300;
  }
}

.card .card-body .card-category,
.card .card-body .card-description {
  color: #fff;
}

.card .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.card-plain .card-footer,
.card-plain .card-header {
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
  color: #fff;
}

.content-text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 95px;
}

.porfolio-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
