<h4 class="c-grey-900 mT-10 mB-30">Teams <small>Edit</small></h4>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <form [formGroup]="teamForm">
    <div class="avatar-section" (click)="file.click()">
      <input type="file" name="image" accept="image/*" hidden (change)="preview($event)" #file />
      <img class="avatar" [src]="imgURL" alt="avatar" />
      <img class="upload" src="/assets/images/upload.png" alt="upload image" />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Fullname</label>
      <input type="text" class="form-control" placeholder="Enter fullname" formControlName="name" />
    </div>
    <div class="form-group">
      <label>Position</label>
      <input type="text" class="form-control" placeholder="Enter position" formControlName="position" />
    </div>
    <div class="form-group">
      <label>Desctription</label>
      <textarea class="form-control" rows="6" placeholder="Enter description" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-admin" (click)="save()">Save</button>
  </form>
</div>
