@import "spec/settings/index";
@import "spec/tools/index";
@import "spec/index";
@import "vendor/index";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~simplemde/dist/simplemde.min.css";

.modal-dialog {
	background-color: white !important;
	.close {
		font-size: 1.3125rem;
		font-weight: 700;
		line-height: 1;
		color: #000 !important;
		text-shadow: 0 1px 0 #fff;
		opacity: 0.5;
	}
}
.btn-admin {
	border-radius: 5px !important;
}
.editor-toolbar.fullscreen,
.CodeMirror-fullscreen,
.editor-preview-side {
	z-index: 1100;
}

.table thead th {
    border-bottom: 2px solid #fafafb !important;
}
.table.dataTable tbody td{
	font-weight: 400 !important;
	color: #5a5c5d;
}