<section class="home-slider carousel ftco-degree-bg">
  <div class="slider-item bread-wrap">
    <div class="overlay hero-area-fix">
    </div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-10 col-sm-12 mb-4 text-center" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
          <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/']">Home</a></span> <span>About</span></p>
          <h1 class="mb-3 bread">About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2 ftco-degree-bg">
  <div class="container d-flex">
    <div class="section-2-blocks-wrapper row d-flex">
      <div class="img col-sm-12 col-lg-6 order-last" style="background-image: url('/assets/images/about.jpg');">
      </div>
      <div class="text col-lg-6 order-first">
        <div class="text-inner align-self-start">
          <h3 class="heading">Who We Are</h3>
          <b>Phuquy Solutions</b> was established in 2018 to provide quality software outsourcing services to companies
          worldwide. Our engineering teams are well-trained and have successfully completed many large and complex
          projects.
          <p>Join us to write your own success stories!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg no-display"  style="background-color: #fbfbfb" hidden>
  <div class="container">
    <div class="row justify-content-center mb-2 pb-2">
      <div class="col-md-7 text-center heading-section ">
        <h2>Our Core Values</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img class="core-value" src="/assets/images/respect-icon.jpg" alt="respect">
          <div class="text pt-3">
            <strong class="number">
              Respect
            </strong>
            <span>Treating others the way you want to be treated</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img class="core-value" src="/assets/images/honesty-icon.jpg" alt="honesty">
          <div class="text pt-3">
            <strong class="number">
              Honesty
            </strong>
            <span>Being truthful to others and yourself</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img class="core-value" src="/assets/images/integrity-icon.jpg" alt="integrity">
          <div class="text pt-3">
            <strong class="number">
              Integrity
            </strong>
            <span>We transform our promise into reality</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <!-- <span class="subheading">Our Services</span> -->
        <h2>Our core values</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-6 col-lg-4 align-self-stretch text-center pb-md-0 pb-5"
      >
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-1 d-flex justify-content-center mb-3">
              <span class="align-self-center fa fa-handshake-o"></span>
            </div>
          </div>
          <div class="media-body p-2">
            <h3>Respect</h3>
            <p class="mb-0">
              Treating others the way you want to be treated
            </p>
          </div>
        </div>
        
      </div>

      <div
        class="col-md-6 col-lg-4 align-self-stretch text-center pb-md-0 pb-5"
      >
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-2 d-flex justify-content-center mb-3">
              <span class="align-self-center fa fa-hand-paper-o"></span>
            </div>
          </div>
          <div class="media-body p-2">
            <h3 class="heading">Honesty</h3>
            <p class="mb-0" style="height: 90px">
              Being truthful to others and yourself
            </p>
          </div>
        </div>
        
      </div>

      <div class="col-md-6 col-lg-4 align-self-stretch text-center">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-3 d-flex justify-content-center mb-3">
              <span class="align-self-center fa fa-balance-scale"></span>
            </div>
          </div>
          <div class="media-body p-2">
            <h3 class="heading">Integrity</h3>
            <p class="mb-0">
              We transform our promise into reality
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section class="ftco-section ftco-degree-bg no-display" id="why-phuquy">
  <div class="container">
    <div class="row justify-content-center mb-2 pb-2">
      <div class="col-md-7 text-center heading-section ">
        <h2>WHY Phuquy</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_case_studies.png" alt="icon_case_studies">
          <div class="text pt-3">
            <h3 class="number">
              Strategic Software Partner
            </h3>
            <span>Help our clients focus on core businesses and leave the IT challenges to our engineering team.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_end_to_end.png" alt="icon_end_to_end">
          <div class="text pt-3">
            <h3 class="number">
              End-to-end Solutions
            </h3>
            <span>From software development and testing to application support and IT services.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_communication.png" alt="icon_communication">
          <div class="text pt-3">
            <h3 class="number">
              Open & Effective Communication
            </h3>
            <span>Open & honest communication. Visibility & transparency.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_our_people.png" alt="icon_our_people">
          <div class="text pt-3">
            <h3 class="number">
              Dynamic Resources
            </h3>
            <span>Providing the right people at the right time to meet your business needs.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_innovation.png" alt="icon_innovation">
          <div class="text pt-3">
            <h3 class="number">
              Innovation as a Service
            </h3>
            <span>Dedicated R&D center to keep up with the latest technologies.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_security.png" alt="icon_security">
          <div class="text pt-3">
            <h3 class="number">
              Security & IP Protection
            </h3>
            <span>We have built a secure working environment to give our customers peace of mind.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg no-display" hidden id="section-counter" style="background-color: #fbfbfb">
  <div class="container">
    <div class="row justify-content-center mb-2 pb-2">
      <div class="col-md-7 text-center heading-section ">
        <h2>WHY VietNam</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 counter-wrap ">
        <h4>New destination for software outsourcing</h4>
        <ul>
          <li>Vietnam is an Asia Tier 1 emerging-market location and top 5 location for outsourcing (Gartner’s Leading
            Global Locations for Offshore Services, 2016)</li>
          <li>Ho Chi Minh City in Top Outsourcing Cities in 8 consecutive years (Tholons, 2009-2016)</li>
          <li>Vietnam is #3 in global offshoring hotspot and #1 in competitive cost (Tower Watson, Services Offshoring
            Ranking 2013)</li>
          <li>Vietnam is ranked 1 in pioneering location and cost environment (Cushman & Wakefield business process
            outsourcing and shaped service location index, 2016-2017)</li>
          <li>Vietnam is #6 in 2017 Global Services Location Index (A.T. Kerney, 2017)</li>
          <li>Vietnam is an offshoring destination most preferable by Japanese companies (Resorz Co., Ltd, 2016)</li>
        </ul>
        <h4>Large talent pool for software industry</h4>
        <ul>
          <li>Vietnam is in top 10 countries with most engineering graduates – research of World Economic Forum in 2015
            on 128 countries (Forbes)</li>
          <li>Supply will continue to exceed demand for many years</li>
          <li>Nearly 130,000 Vietnamese students are studying abroad: 6th in USA, 5rd in Australia, 2nd in Japan
            (Australian Embassy Vietnam, University World News, Japan Student Services Organization（JASSO), 2017)</li>
        </ul>

        <h4>Vietnam IT Outsourcing Conference 2017 (VNITO 2017 )</h4>
        <p>The VNITO Conference 2017 will be held in Ho Chi Minh City, the Vietnam’s largest city, from 19th to 20th of
          October at GEM Center. The two-day event aims to attract more than 300 multi-national and high-tech companies
          and IT universities. The goal of VNITO Conference 2017 is to link Vietnamese software outsourcing companies
          and potential overseas technology companies, and promote Vietnam as an attractive technology outsourcing
          destination.</p>
        <p>Joining the conference, participants will have a chance to know about:</p>
        <ul>
          <li>Vietnam IT industry information and data, business and investment environment in Vietnam</li>
          <li>Human resources, education & training, labor market, infrastructure, etc.</li>
          <li>Experiences and case studies in working with Vietnamese companies</li>
          <li>Business matching and visiting top Vietnam ITO and BPO companies</li>
          <li>Opportunities to meet, exchange and find the potential business partners</li>
        </ul>
        <p>Any company looking for IT services and talents in VN can find great information from 2 days event with many
          activities:</p>
        <ul>
          <li>Conference with latest data and insights</li>
          <li>4 panel discussions with many useful topics</li>
          <li>Business matching with top IT VN companies</li>
          <li>Technology and software park tour</li>
          <li>Gala dinner</li>
          <li>City tour</li>
        </ul>
        <p>All above activities are free of charge for overseas participants.</p>
        <p>For more event details, please access: <a href="http://vnito2017.vnito.org/" target="_blank" rel="noopener">http://vnito2017.vnito.org/</a></p>
      </div>

      <div class="col-md-4" hidden>
        <img src="/assets/images/hochiminh-city.jpg" style="object-fit: cover; width: 100%; height: 500px" alt="hochiminh">
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2 ftco-degree-bg member">
  <div class="wrapper">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <small>INCLUDE</small>
        <h2>Our members</h2>
      </div>
    </div>
    <owl-carousel-o #owlCar [options]="customOptions" (change)="getData($event)">
      <ng-container *ngFor="let team of teams">
        <ng-template carouselSlide [id]="team.id">
          <div class="text-center border">
            <div class="d-inline-block">
              <div class="mt-4">
                <!-- <img class="shadow bg-white img-fluid d-flex center user-image" [src]="team.imgURL" [alt]="team.name"
                [title]="team.name" style="width: 100px;" /> -->
                <div class="ml-2 col- circle-image" [ngStyle]="{'background-image': 'url(' + team.imgURL + ')'}">
                </div>
              </div>

              <span class="shadow p-1 mb-2 quote d-flex align-items-center justify-content-center"
                (click)="getClickEvent(team)">
                <i class="icon-quote-left"></i>
              </span>
            </div>
            <p class="px-4 quote-p">{{team.description}}
            </p>
            <br />
            <h6><strong>{{team.name}}</strong></h6>
            <p><small>{{team.position}}</small></p>
            <br />
          </div>
        </ng-template>>
      </ng-container>
    </owl-carousel-o>
    <!-- <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <a class="prev-button" (click)="owlCar.prev()"><i class="fas fa-chevron-left"></i></a>
        <a class="next-button" (click)="owlCar.next()"><i class="fas fa-chevron-right"></i></a>
      </div>
    </div> -->
  </div>
</section>
