.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.wrapper {
  @extend .center;
  width: 70%;
  min-height: 600px;
}
img {
  margin-top: 20px;
  box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
}
.quote {
  position: relative;
  bottom: 35px;
  left: 60px;
  width: 40px;
  height: 40px;
  background: #79efb4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
::ng-deep .owl-dots span {
  background: transparent !important; /* dots color*/
  width: 100% !important;
  margin-top: 100px !important;
}
::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent !important; /*active and on hover color*/
  margin-top: 10px !important;
}

::ng-deep .owl-dots {
  position: absolute;
  top: 107%;
  left: 25%;
  right: 25%;
}
::ng-deep .owl-item {
  max-height: 500px;
}
::ng-deep .owl-carousel .owl-nav .owl-next {
  background: transparent !important;
  font-size: 37px !important;
  color: rgb(173, 173, 173);
  &:hover {
    color: rgb(173, 173, 173);
  }
}

::ng-deep .owl-carousel .owl-nav .owl-prev {
  background: transparent !important;
  font-size: 37px !important;
  color: rgb(173, 173, 173);
  &:hover {
    color: rgb(173, 173, 173);
  }
}
::ng-deep .block-18 .text span {
  display: inline-block;
  font-family: "Work Sans", Arial, sans-serif !important;
}
::ng-deep .block-18 .text strong span {
  font-size: 40px !important;
}

.user-image {
  width: 100px;
  height: 100px;
}
p.px-4.quote-p {
  white-space: normal;
  overflow: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 60px;
}
::-webkit-scrollbar {
  display: none;
}

.circle-image {
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
