<section class="home-slider carousel ftco-degree-bg">
  <div class="slider-item bread-wrap">
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-10 col-sm-12 mb-4 text-center" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
          <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/']">Home</a></span> <span>About</span></p>
          <h1 class="mb-3 bread">About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2 ftco-degree-bg">
  <div class="container d-flex">
    <div class="section-2-blocks-wrapper row d-flex">
      <div class="img col-sm-12 col-lg-6 order-last" style="background-image: url('/assets/images/about.jpg');">
      </div>
      <div class="text col-lg-6 order-first">
        <div class="text-inner align-self-start">
          <h3 class="heading">Who We Are</h3>
          <b>GoCodee Solutions</b> was established in 2018 to provide quality software outsourcing services to companies
          worldwide. Our engineering teams are well-trained and have successfully completed many large and complex
          projects.
          <p>Join us to write your own success stories!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg no-display" id="section-counter">
  <div class="container">
    <div class="row justify-content-center mb-2 pb-2">
      <div class="col-md-7 text-center heading-section ">
        <h2>Core Values</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img class="core-value" src="/assets/images/respect-icon.jpg">
          <div class="text pt-3">
            <strong class="number">
              Respect
            </strong>
            <span>Treating others the way you want to be treated</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img class="core-value" src="/assets/images/honesty-icon.jpg">
          <div class="text pt-3">
            <strong class="number">
              Honesty
            </strong>
            <span>Being truthful to others and yourself</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img class="core-value" src="/assets/images/integrity-icon.jpg">
          <div class="text pt-3">
            <strong class="number">
              Integrity
            </strong>
            <span>We transform our promise into reality</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-degree-bg no-display" id="section-counter">
  <div class="container">
    <div class="row justify-content-center mb-2 pb-2">
      <div class="col-md-7 text-center heading-section ">
        <h2>WHY GoCodee</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_case_studies.png">
          <div class="text pt-3">
            <strong class="number">
              Strategic Software Partner
            </strong>
            <span>Help our clients focus on core businesses and leave the IT challenges to our engineering team.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_end_to_end.png">
          <div class="text pt-3">
            <strong class="number">
              End-to-end Solutions
            </strong>
            <span>From software development and testing to application support and IT services.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_communication.png">
          <div class="text pt-3">
            <strong class="number">
              Open & Effective Communication
            </strong>
            <span>Open & honest communication. Visibility & transparency.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_our_people.png">
          <div class="text pt-3">
            <strong class="number">
              Dynamic Resources
            </strong>
            <span>Providing the right people at the right time to meet your business needs.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_innovation.png">
          <div class="text pt-3">
            <strong class="number">
              Innovation as a Service
            </strong>
            <span>Dedicated R&D center to keep up with the latest technologies.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <img src="/assets/images/icon_security.png">
          <div class="text pt-3">
            <strong class="number">
              Security & IP Protection
            </strong>
            <span>We have built a secure working environment to give our customers peace of mind.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2 ftco-degree-bg">
  <div class="wrapper">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <small>INCLUDE</small>
        <h2>Our members</h2>
      </div>
    </div>
    <owl-carousel-o #owlCar [options]="customOptions" (change)="getData($event)">
      <ng-container *ngFor="let team of teams">
        <ng-template carouselSlide [id]="team.id">
          <div class="text-center border">
            <div class="d-inline-block">
              <div class="mt-4">
                <!-- <img class="shadow bg-white img-fluid d-flex center user-image" [src]="team.imgURL" [alt]="team.name"
                [title]="team.name" style="width: 100px;" /> -->
                <div class="ml-2 col- circle-image" [ngStyle]="{'background-image': 'url(' + team.imgURL + ')'}">
                </div>
              </div>

              <span class="shadow p-1 mb-2 quote d-flex align-items-center justify-content-center"
                (click)="getClickEvent(team)">
                <i class="icon-quote-left"></i>
              </span>
            </div>
            <p class="px-4 quote-p">{{team.description}}
            </p>
            <br />
            <h6><strong>{{team.name}}</strong></h6>
            <p><small>{{team.position}}</small></p>
            <br />
          </div>
        </ng-template>>
      </ng-container>
    </owl-carousel-o>
    <!-- <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <a class="prev-button" (click)="owlCar.prev()"><i class="fas fa-chevron-left"></i></a>
        <a class="next-button" (click)="owlCar.next()"><i class="fas fa-chevron-right"></i></a>
      </div>
    </div> -->
  </div>
</section>
