<section class="home-slider carousel">
  <div class="slider-item bread-wrap" style="height: 100vh">
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-8 col-sm-12 mb-4 text-center" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
          <form class="login-form">
            <h1>Login</h1>
            <div class="mt-3">
              <div class="input-contain">
                <i class="fa fa-user icon"></i>
                <input type="email" placeholder="" required [(ngModel)]="email" name="email"
                  email="true" #username="ngModel"/>
                <label [className]="(username.dirty && username.touched)? 'invalid' : '' ">Username</label>
              </div>
              <small class="form-text text-md-left text-white">{{((username.dirty && username.touched) && username.invalid)? 'Email not valid' : ''}}</small>
              <div class="input-contain">
                <i class="fas fa-unlock-alt icon"></i>
                <input type="password" placeholder="" required minlength="5" [(ngModel)]="password" name="password" password="true" #userPassword="ngModel"/>
                <label [className]="(userPassword.dirty && userPassword.touched)? 'invalid' : '' ">Password</label>
              </div>
              <small class="form-text text-md-left text-white">{{((userPassword.dirty && userPassword.touched) && userPassword.invalid)? 'Password must longer 6 characters' : ''}}</small>
              <div class="text-md-left remember-contain mt-2">
                <input type="checkbox"
                    [(ngModel)]="remember" name="remember" [ngModelOptions]="{standalone: true}" (change)="rememberClick()"/>
                    <span class="check-button" (click)="rememberClick()"> Remember Me</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mx-auto my-0 text-center text-md-center ">
                <button type="submit" class="submit-button" (click)="login()" [disabled]="username.invalid || userPassword.invalid">LOGIN</button>
                <div class="mt-3"><a class="text-light" href="#"><small>Forgot password?</small></a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>