.login-form {
  input {
    border-radius: 5px;
    border: none;
    height: 45px !important;
    background-color: rgba(255, 255, 255, .4) !important;

    &:focus {
      background-color: rgba(255, 255, 255, .6) !important;
    }

    &::placeholder {
      color: white;
      font-weight: 200;
    }
  }

  button {
    border: none !important;
    padding: 10px 30px;
    text-align: right;
  }
}
