<section class="home-slider carousel">
  <div class="slider-item bread-wrap" style="height: 100vh">
    <div class="overlay hero-area-fix"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-8 col-sm-12 mb-4 text-center" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
          <form class="login-form">
            <h1>Login</h1>
            <div class="mt-3">
              <div class="input-contain">
                  <i class="fa fa-user icon"></i>
                <input type="email" placeholder="" required [(ngModel)]="email" name="email" email="true"/>
                <label>Username</label>
              </div>
              <small class="form-text text-md-left text-white">We'll never share your data with anyone else.</small>
              <div class="input-contain">
                  <i class="fas fa-unlock-alt icon"></i>
                <input type="password"  placeholder="" required [(ngModel)]="password"
                  name="password" password="true" />
                  <label>Password</label>
              </div>
              <div class="text-md-left">
                <input type="checkbox" [(ngModel)]="remember"
                  name="remember" />
                  <span class="check-button"> Remember Me</span> 
              </div>
            </div>
            <div class="row">
              <div class="col-12 mx-auto text-center text-md-center mt-3">
                <button type="submit" class="submit-button" (click)="login()">Submit</button>
                <div class="mt-3"><a class="text-light" href="#"><small>Forgot password?</small></a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>