<!-- <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <span class="subheading">Our Services</span>
        <h2>Gocodee specializes in multi-platform and cross-platform</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 align-self-stretch text-center pb-md-0 pb-5">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-1 d-flex justify-content-center mb-3">
              <span class="align-self-center ti-desktop"></span>
            </div>
          </div>
          <div class="media-body p-2">
            <h3 class="heading">Web Developer</h3>
            <p class="mb-0">
              Web application development is the core of our business. For more
              than 6 years, we’ve been employing the best backend and frontend
              developers.
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-admin" (click)="openModal(0)" hidden>
          Explore more
        </button>
      </div>

      <div class="col-md-6 col-lg-4 align-self-stretch text-center pb-md-0 pb-5">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-2 d-flex justify-content-center mb-3">
              <span class="align-self-center ti-mobile"></span>
            </div>
          </div>
          <div class="media-body p-2">
            <h3 class="heading">Mobile Development</h3>
            <p class="mb-0" style="height: 90px">
              We have vast experience with building Android applications
              However, if you a cross-platform app created with React Native and
              Ionic seems like a perfect solution.
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-admin" (click)="openModal(1)" hidden>
          Explore more
        </button>
      </div>

      <div class="col-md-6 col-lg-4 align-self-stretch text-center">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-3 d-flex justify-content-center mb-3">
              <span class="align-self-center icon-gears"></span>
            </div>
          </div>
          <div class="media-body p-2">
            <h3 class="heading">Application Server Development</h3>
            <p class="mb-0">
              We specialize in building a solid application server that is the
              brain for your application and provide services (API) to your
              iOS/Android and Web applications.
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-admin" (click)="openModal(2)" hidden>
          Explore more
        </button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container" hidden>
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ">
        <h2>Our technology</h2>
      </div>
    </div>
    <div class="row technologies">
      <div class="col-md-3">
        <div class="technology">
          <img src="/assets/images/technologies/icon-angular.svg" alt="angular" />
          Angular
        </div>
      </div>
      <div class="col-md-3">
        <div class="technology">
          <img src="/assets/images/technologies/icon-react.png" alt="react" />
          React
        </div>
      </div>
      <div class="col-md-3">
        <div class="technology">
          <img src="/assets/images/technologies/icon-react.png" alt="react" />
          React Native
        </div>
      </div>
      <div class="col-md-3">
        <div class="technology">
          <img src="/assets/images/technologies/icon-react.png" alt="react" />
          React Native
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section-2 ftco-degree-bg" *ngIf="!isHome">
  <div class="container d-flex">
    <div class="section-2-blocks-wrapper row d-flex">
      <div class="col-sm-12 col-lg-6 order-last list-technology">
        <div class="row">
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/angular.png" alt="angular" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/docker.png" alt="docker" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/react.png" alt="react" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/react-native.png" alt="react-native" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/ionic.png" alt="ionic" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/nodejs.png" alt="nodejs" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/java.png" alt="java" />
          </div>
          <div class="col-12 col-md-6 text-center">
            <img src="/assets/images/technologies/android.png" alt="android" />
          </div>
        </div>
      </div>
      <div class="text col-lg-6 order-first">
        <div class="text-inner align-self-start">
          <h3 class="heading">We love new technologies</h3>
          <p>
            Latest and emerging technologies are always preferred. Here is the
            brief of services that we are providing as well as a short list of
            technologies accompanied by the services.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="ftco-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 mr-auto text-left pb-3">
        <h1 class="title">You should be here!</h1>
        <p class="description">5,000 capacity venue, holding some of the latest technology lighting with a 24 colour
          laser system Amnesia is one of the islands most legendary clubs.</p>
        <!-- <a class="btn btn-primary mt-3 learn-more" href="javascript:;">
          Learn more <i class="tim-icons icon-double-right"></i>
        </a> -->

        <a class="btn btn-primary btn-outline-white px-4 py-3 popup-youtube" style="border-width:1px ">
          Learn more
          <i style="vertical-align: middle;" class="fas fa-angle-double-right"></i>
        </a>
      </div>

      <div class="col-lg-8 p-sm-0">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-smile"></i>
              </div>
              <h4 class="info-title">Best Quality</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-palette"></i>
              </div>
              <h4 class="info-title">Awesome Design</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-running"></i>
              </div>
              <h4 class="info-title">Fast Development</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-lightbulb"></i>
              </div>
              <h4 class="info-title">Super Fresh</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
