<section class="ftco-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 mr-auto text-left pb-3">
        <h1 class="title">You should be here!</h1>
        <p class="description">We are a wizzard of Javascript.</p>

        <a class="btn btn-primary btn-outline-white px-4 py-3 popup-youtube" style="border-width:1px ">
          Learn more
          <i style="vertical-align: middle;" class="fas fa-angle-double-right"></i>
        </a>
      </div>

      <div class="col-lg-8 p-sm-0">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-smile"></i>
              </div>
              <h4 class="info-title">Best Quality</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-palette"></i>
              </div>
              <h4 class="info-title">Awesome Design</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-running"></i>
              </div>
              <h4 class="info-title">Fast Development</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-primary text-left c-pointer">
              <div class="icon icon-white">
                <i class="fas fa-lightbulb"></i>
              </div>
              <h4 class="info-title">Super Fresh</h4>
              <p class="description">Gain access to the demographics, psychographics, and location of unique people.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
