<footer class="ftco-footer ftco-bg-dark ftco-section ftco-degree-bg-blue">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Company</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco" data-aos="fade-up" data-aos-delay="500">
              <a href="#"
                ><span><i class="fa fa-twitter"></i></span
              ></a>
            </li>
            <li class="ftco" data-aos="fade-up" data-aos-delay="600">
              <a href="#"
                ><span><i class="fa fa-facebook"></i></span
              ></a>
            </li>
            <li class="ftco" data-aos="fade-up" data-aos-delay="700">
              <a href="#"
                ><span><i class="fa fa-instagram"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/']" class="py-2 d-block">Home</a></li>
            <li><a routerLink="/about-us" class="py-2 d-block">About</a></li>
            <li><a routerLink="/solution" class="py-2 d-block">Solution</a></li>
            <li><a routerLink="/portfolio" class="py-2 d-block">Portfolio</a></li>
            <li><a routerLink="/contact" class="py-2 d-block">Contact</a></li>
            <li><a routerLink="/" class="py-2 d-block">Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Information</h2>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2 d-block"
                >198 West 21th Street, Suite 721 New York NY 10016</a
              >
            </li>
            <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
            <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>
            <li><a href="#" class="py-2 d-block">email@email.com</a></li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md" *ngIf="!isHidden">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact To Us</h2>
          <form action="" class="submit-form text-white" #formSubmit="ngForm">
            <div class="form-group  mb-4">
              <input type="text" class="form-control pl-2 pr-2" id="fullname" placeholder="Fullname"
                [(ngModel)]="fullname" required #fullnameText="ngModel" name="fullname">
              <p class="form-validation m-0 pl-2"
                *ngIf="fullnameText?.invalid && (fullnameText?.dirty || fullnameText?.touched)">Fullname
                is required!</p>
            </div>
            <div class="form-group mb-4">
              <input type="text" class="form-control pl-2 pr-2" id="email" placeholder="Email" [(ngModel)]="email"
                required #emailText="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <p class="form-validation m-0 pl-2"
                *ngIf="emailText?.errors && emailText?.errors?.required && (emailText?.dirty || emailText?.touched)">
                Email
                is required</p>
              <p class="form-validation m-0 pl-2" *ngIf="emailText?.errors && emailText?.errors?.pattern">Email is
                invalid</p>
            </div>
            <div class="form-group mb-4">
              <input type="number" class="form-control pl-2 pr-2" id="number" placeholder="Phone" [(ngModel)]="number"
                #phoneNumber="ngModel" name="phone">
            </div>
            <div class="form-group mb-4">
              <textarea class="form-control pl-2 pr-2" id="exampleFormControlTextarea1" placeholder="Message" rows="3"
                [(ngModel)]="message" #messageText="ngModel" name="message" appForbiddenName="fuck"></textarea>
              <p class="form-validation m-0 pl-2" *ngIf="messageText?.errors?.forbiddenName">Text is invalid</p>
            </div>
            <button type="submit" class="btn btn-primary title w-100 p-2">Submit!</button>
          </form>
        </div>
      </div> -->
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Newsletter</h2>
          <p>
            Far far away, behind the word mountains, far from the countries.
          </p>
          <form #formSubmit="ngForm" class="subscribe-form" >
            <div class="form-group">
              <span class="icon icon-paper-plane" (click)="sendInfo(formSubmit)"></span>
              <input type="text" class="form-control" placeholder="Subscribe" [(ngModel)]="name" #nameText="ngModel" name="name" >
            </div>
            <div class="alert alert-success alert-dismissible myAlert-bottom" *ngIf="sendMessage !== ''">
              <a class="close" data-dismiss="alert" aria-label="close" (click)="closeAlert(formSubmit)">&times;</a>
                <strong>Success!</strong> {{sendMessage}}
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Google Map  -->
